<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
</head>
<body>
	<div class="container">
		<div class="spacer"></div>
		<div class="row justify-content-center">
			<div class="col-5">
				<h2 class="text-center">{{title|safe}}</h2>
			</div>
		</div>
		<div class="spacer"></div>
		<div id='options' class="row viz-row">
			<div class="col-2 viz-options">
				<form id="vizOptions" name="vizOptions" action="/viz">
					<div class="form-group"> <!-- Date input -->
				        <label class="control-label" for="date" style="display:inline-block;">Date</label>
				        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" value="{{date}}" style="display:inline-block;"/>
				    </div>
				    <input type="hidden" name="view" value={{view}}>
				    <script>
					    $(document).ready(function(){
					      var date_input=$('input[name="date"]'); //our date input has the name "date"
					      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
					      var options={
					        format: 'D, MM dd yyyy',
					        container: container,
					        todayHighlight: true,
					        autoclose: true,
					        endDate: "0d",
					        maxViewMode: 1,
					        todayBtn: true
					      };
					      date_input.datepicker(options);
					    })
					</script>
				    <div class="form-group"> <!-- Submit button -->
				    	<div class="btn-group">
							<button type="submit" class="btn btn-info btn-sm">Update View</button>
							<button type="button" class="btn btn-info btn-sm dropdown-toggle" id="viewsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>

							<div class="dropdown-menu" aria-labelledby="viewsDropdown">
								<h6 class="dropdown-header">Choose View Type</h6>
								<a class="dropdown-item {{ 'active' if view=='location'}}" href="/viz?view=location&date={{date}}">Location</a>
								<a class="dropdown-item {{ 'active' if view=='sensor'}}" href="/viz?view=sensor&date={{date}}">Sensor and Location</a>
								<a class="dropdown-item {{ 'active' if view=='activity'}}" href="/viz?view=activity&date={{date}}">Activity</a>
							</div>
						</div>
				    </div>
					<!-- <select id="date" name="date">
						{% for option in dateOptions %}
						<option {% if option == date %}selected{% endif %} value={{option}}>{{option}}</option>
						{% endfor %}
					</select> -->
				</form>
			</div>
			<div class="col-10 viz-column">
				<div id='viz'>
				</div>
				<div id='tag'></div>
			</div>
		</div>
		
	</div>
	<script>
	window.appConfig = {
		dataset: JSON.parse('{{dataset|safe}}'),
		title: "{{title|safe}}"
	}
	</script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="../static/js/{{javascriptFile}}"></script>
	
</body>